body{
    margin:0;
    padding:0;
    text-align: center;
    font-family: monospace;
    background-color:#252525;
    color:#ffdc6e;
    overscroll-behavior: contain;
}
header{
    padding: 15px 0;
    width: 100%;
}
header h1{
    font-size: 40px;
    margin: 0;
}
header h3{
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
}
header h3.mobile-explanation{
    display:none;
}
@media screen and (max-width:500px){
    header h3.mobile-explanation{
        display:block;
    }
    header h3.desktop-explanation{
        display:none;
    }
}
header span{
    display: inline-block;
    font-size: 20px;
}
header #best{
    color: #252525;
    padding: 10px;
    background-color: #ffdc6e;
}

#stage{
    margin:0 auto;
    display:block;
}
